<div class="main-outer">
<h1 class="topic">Welcome to the Latest Game Platform in Sri Lanka </h1>
<div class="row row-cols-1 row-cols-md-2 g-4 view">
  <div class="col">
    <div class="card">
      <img src="assets/imgs/9.jpg" class="card-img-top" alt="..." width="50" height="350">
      <div class="card-body">
        <h5 class="card-title">Get Experience from 2023-04-10</h5>
        <p class="card-text">Entering Heaven</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/imgs/10.jpg" class="card-img-top" alt="..."width="100" height="350">
      <div class="card-body">
        <h5 class="card-title">Get Experience from 2023-02-10</h5>
        <p class="card-text">The Final War</p>
      </div>
    </div>
  </div>
</div>
</div>
