.view{
  position: absolute;
  margin-top: -5vh;
  margin-left: 20px;
}
.topic{
  margin-top: -100px;
  text-align: center;
  padding-bottom: 10px;
}
.main-outer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
