
.main{
  padding: 20px 0;
}
.slider-wrap{
  position:relative;
  overflow: hidden;
  height: 350px;
  margin-top: 130px;

}
.slider-master{
  position: absolute;
  width: 200%;

}
.pic{
  display: inline-block;
  width: 400px;
  height: 250px;
  position: relative;
  margin: 0 12px;
}
.text{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 2rem;
}
.prv{
  position: absolute;
  left: 35px;
  top:50%;
  transform: translate(-50%, -50%);
}
.next{
  position: absolute;
  right: -33px;
  top: 54%;
  transform: translate(-50%, -50%);

}
