<section class="main">
  <div class="container-fluid">
    <div class="slider-wrap">
      <div class="slider-master">
        <div class="pic">
          <div class="text">
            <img src="assets/imgs/1.jpg" alt="" height="250" width="450">
          </div>
        </div>
        <div class="pic">
          <div class="text">
            <img src="assets/imgs/2.jpg" alt="" height="250" width="450">
          </div>
        </div>
        <div class="pic">
          <div class="text">
            <img src="assets/imgs/1.jpg" alt="" height="250" width="450">
          </div>
        </div>
        <div class="pic">
          <div class="text">
            <img src="assets/imgs/4.jpg" alt="" height="250" width="450">
          </div>
        </div>
        <div class="pic">
          <div class="text">
            <img src="assets/imgs/5.jpg" alt="" height="250" width="450">
          </div>
        </div>
        <div class="pic">
          <div class="text">
            <img src="assets/imgs/6.jpg" alt="" height="250" width="450">
          </div>
        </div>
      </div>
      <div class="button-area">
        <button type="button" class="prv" appPrv>Prev</button>
        <button type="button" class="next" appNext>Next</button>
      </div>

    </div>
  </div>
</section>

<!--<app-card-view></app-card-view>-->
