<div class="outer-wrapper">
  <div class="menu-wrapper">
  <menu class="menu-pos">
    <nav class="nav flex-column">
      <a class="nav-link active" aria-current="page" href="#">Games</a>
      <a class="nav-link" href="#">Customers</a>
      <a class="nav-link" href="#">Reports</a>
      <a class="nav-link disabled">Logout</a>
    </nav>
  </menu>
    <div class="table-view">
      <h1>MANAGE GAMES</h1>
      <form>
        <div class="mb-3">
          <input type="text" class="form-control" id="game-bar" placeholder="Search Your Games">
          <button type="submit" class="btn btn-success">Add New Game</button>
        </div>
      </form>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Game Name</th>
          <th scope="col">Game Date</th>
          <th scope="col">Image</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let details of gamesData">
          <th>{{details.gameId}}</th>
          <th>{{details.gameName}}</th>
          <th>{{details.gameDate}}</th>
          <th>{{details.gameImg}}</th>
          <th>
            <button class="btn btn-danger" (click)="deleteGame(details)">
              Delete
            </button>
          </th>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
