<div class="outer-wrapper">
  <div class="menu-wrapper">
  <menu class="menu-pos">
    <nav class="nav flex-column">
      <a class="nav-link active" aria-current="page" href="#">Games</a>
      <a class="nav-link" href="#">Customers</a>
      <a class="nav-link" href="#">Reports</a>
      <a class="nav-link disabled">Logout</a>
    </nav>
  </menu>
    <div class="table-view">
      <h1>MANAGE GAMES</h1>

      <form [formGroup]="gameDetails" (ngSubmit)="saveGameDetails()">
        <div class="mb-3">
          <input type="text" class="form-control game-bar" placeholder="Game Name" formControlName="gameName">
        </div>
        <div class="mb-3">
          <input type="date" class="form-control game-bar" placeholder="Game Date" formControlName="gameDate">
        </div>
        <div class="mb-3">
          <input type="file" class="form-control game-bar" placeholder="Select Image" (change)="onChange($event)" formControlName="gameImg"/>
          <button type="submit" class="btn btn-success">Add New Game</button>
          <button type="reset" class="btn btn-danger clr-data">Clear</button>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control game-bar" placeholder="Search Your Games">
        </div>
        <div class="img-viewer">
          <img [src]="gameImage" alt=gameImgData width="500" height="300">
        </div>

      </form>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Game Name</th>
          <th scope="col">Game Date</th>
          <th scope="col">Image</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let details of gamesData">
          <th>{{details.gameId}}</th>
          <th>{{details.gameName}}</th>
          <th>{{details.gameDate}}</th>
          <th>{{details.gameImg}}</th>
          <th>
            <button class="btn btn-danger" (click)="deleteGame(details)">
              Delete
            </button>
          </th>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
